<div class="rounded">
    <div *ngIf="documents && documents.length > 0" class="flex flex-col gap-y-2">
        <div *ngFor="let document of documents" class="flex gap-5">
            <mat-icon class="text-primary icon-size-6" [svgIcon]="getIconForDocument(document?.type)"></mat-icon>
            <p class="font-bold text-base text-primary truncate -ml-3">{{ document?.name || '-' }}</p>
            <mat-icon class="text-primary icon-size-5 cursor-pointer mb-2" (click)="openPreview(document, 'uploaded')"
                svgIcon="feather:eye"></mat-icon>
            <mat-icon class="text-primary icon-size-5 cursor-pointer" (click)="deleteDocument(document)"
                svgIcon="feather:trash-2"></mat-icon>
        </div>
    </div>
</div>