<app-dialog-container (onCloseDialog)="closeDialog()" title="Assistant">
  <form *ngIf="data" [formGroup]="form" (submit)="onSubmit()">
    <div>
      <mat-form-field class="use-mat-no-subscript w-full">
        <mat-label>First Name</mat-label>
        <input matInput [formControlName]="'firstname'" [placeholder]="'First Name'" [spellcheck]="false" [required]="true" />
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="use-mat-no-subscript w-full">
        <mat-label>Last Name</mat-label>
        <input matInput [formControlName]="'lastname'" [placeholder]="'Last Name'" [spellcheck]="false" [required]="true" />
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="use-mat-no-subscript w-full">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'" [placeholder]="'Email'" [spellcheck]="false" [required]="true" />
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row justify-between">
      <div class="mt-1 w-full sm:w-1/2">
        <mat-form-field class="use-mat-no-subscript w-full sm:w-11/12">
          <mat-label>Telephone</mat-label>
          <input matInput formControlName="telephone" />
          <mat-select class="mr-1.5" formControlName="phonePrefix" matPrefix>
            <mat-select-trigger>
              <span class="flex items-center">
                <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                      [style.background]="
                        'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                      [style.backgroundSize]="'24px 3876px'"
                      [style.backgroundPosition]="getCountryByCode(form.get('phonePrefix').value).flagImagePos">
                </span>
                <span class="sm:mx-0.5 font-medium text-default">
                  {{ getCountryByCode(form.get('phonePrefix').value).code }}
                </span>
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let country of countries; trackBy: trackByFn" [value]="country.code">
              <span class="flex items-center">
                <span class="w-6 h-4 overflow-hidden"
                      [style.background]="
                        'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                      [style.backgroundSize]="'24px 3876px'"
                      [style.backgroundPosition]="country.flagImagePos">
                </span>
                <span class="ml-2">{{ country.name }}</span>
                <span class="ml-2 font-medium">{{ country.code }}</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mt-1 w-full sm:w-1/2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full sm:w-11/12">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="mobile" />
          <mat-select class="mr-1.5" formControlName="mobilePrefix" matPrefix>
            <mat-select-trigger>
              <span class="flex items-center">
                <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                      [style.background]="
                        'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                      [style.backgroundSize]="'24px 3876px'"
                      [style.backgroundPosition]="getCountryByCode(form.get('mobilePrefix').value).flagImagePos">
                </span>
                <span class="sm:mx-0.5 font-medium text-default">
                  {{ getCountryByCode(form.get('mobilePrefix').value).code }}
                </span>
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let country of countries; trackBy: trackByFn" [value]="country.code">
              <span class="flex items-center">
                <span class="w-6 h-4 overflow-hidden"
                      [style.background]="
                        'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                      [style.backgroundSize]="'24px 3876px'"
                      [style.backgroundPosition]="country.flagImagePos">
                </span>
                <span class="ml-2">{{ country.name }}</span>
                <span class="ml-2 font-medium">{{ country.code }}</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="mt-1">
      <mat-form-field class="use-mat-no-subscript w-full">
        <mat-label>Fax</mat-label>
        <input matInput formControlName="fax" />
        <mat-select class="mr-1.5" formControlName="faxPrefix" matPrefix>
          <mat-select-trigger>
            <span class="flex items-center">
              <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                    [style.background]="
                      'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                    [style.backgroundSize]="'24px 3876px'"
                    [style.backgroundPosition]="getCountryByCode(form.get('faxPrefix').value).flagImagePos">
              </span>
              <span class="sm:mx-0.5 font-medium text-default">
                {{ getCountryByCode(form.get('faxPrefix').value).code }}
              </span>
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let country of countries; trackBy: trackByFn" [value]="country.code">
            <span class="flex items-center">
              <span class="w-6 h-4 overflow-hidden"
                    [style.background]="
                      'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                    [style.backgroundSize]="'24px 3876px'"
                    [style.backgroundPosition]="country.flagImagePos">
              </span>
              <span class="ml-2">{{ country.name }}</span>
              <span class="ml-2 font-medium">{{ country.code }}</span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex justify-between mt-4 sm:mt-6">
      <button mat-flat-button (click)="closeDialog()">Cancel</button>
      <button mat-flat-button [color]="'primary'" [disabled]="form.invalid">Save</button>
    </div>
  </form>
</app-dialog-container>
