contacts-details {
    min-height: 100%;
}

mat-datetimepicker-content {
    .mat-datetimepicker-calendar-header {
        color: inherit;
    }

    .mat-datetimepicker-clock-hand,
    .mat-datetimepicker-clock-hand::before {
        border-color: black;
        border-width: 1px;
    }

    .mat-datetimepicker-clock-cell-selected {
        background-color: black;
    }
}
