<app-dialog-container (onCloseDialog)="closeDialog()" title="Document upload">
  <div class="flex justify-between">
    <div class="mt-8 w-full flex">
      <mat-form-field class="use-mat-no-subscript w-full">
        <mat-label>Upload files</mat-label>
        <input matInput disabled [value]="getFileInputDisplayValue()" />
        <button mat-icon-button matSuffix (click)="$event.preventDefault(); fileInput.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input #fileInput hidden multiple type="file" id="file" (change)="selectFiles($event)">
      </mat-form-field>
    </div>
  </div>

  <div class="
      flex
      justify-between
      mt-4
      sm:mt-6
    ">
      <button class="order-first sm:order-last" mat-flat-button [color]="'primary'" [disabled]="!selectedFiles"
        (click)="onSubmit()">
        Upload
      </button>
      <button mat-flat-button (click)="$event.preventDefault(); closeDialog()">
        Cancel
      </button>
  </div>
</app-dialog-container>