<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
      [disableClose]="true" #matDrawer>
      <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col">
      <div class="flex-auto">
        <div class="
            flex flex-col flex-auto justify-between
            sm:flex-row
            md:flex-col md:px-8
            py-8 px-6 border-b
          ">
          <div>
            <h2 class="text-2xl font-bold leading-8 tracking-tight">Committees List</h2>
            <div class="ml-0.5 font-semibold leading-6 tracking-tight text-zinc-600">
              <ng-container *ngIf="pageState.totalCount > 0">
                {{ pageState.totalCount }}
              </ng-container>
              {{ pageState.totalCount | i18nPlural: {
              "=0": "No committees",
              "=1": "committee",
              other: "committees"
              } }}
            </div>
          </div>

          <div class="flex items-center flex-wrap mt-4 sm:mt-0 md:mt-4">
            <div class="flex-auto">
              <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50" subscriptSizing="dynamic">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                  [placeholder]="'Search committees'" />
              </mat-form-field>
            </div>
            <button (click)="sortCommittees()" class="ml-3" [matTooltip]="'Order committees by creation date'"
              mat-button>
              <mat-icon class="text-black" [svgIcon]="'mat_outline:sort'"></mat-icon>
              <mat-icon class="text-black"
                [svgIcon]="sortOrder === OrderOptionsEnum.ASC ? 'mat_outline:arrow_upward' : 'mat_outline:arrow_downward'"></mat-icon>
            </button>
            <button
              class="md:ml-4 ml-0 mt-3 md:mt-0 md:flex-0 flex-1 py-2 px-4 text-base leading-5 font-medium text-white bg-primary"
              mat-flat-button [color]="'primary'" (click)="createCommittee()">
              Add New Committee
            </button>
          </div>
        </div>

        <div class="z-20 flex items-center px-6 py-4 md:px-8
        cursor-pointer
        hover:bg-hover
        border-b">
          <div class="w-5/12 ml-4 font-semibold">
            Name
          </div>
          <div class="w-3/12 ml-4 font-semibold">
            Assigned Directors
          </div>
          <div class="w-3/12 ml-4 font-semibold">
            Organizations
          </div>
          <div class="w-1/12 ml-4 font-semibold">
          </div>
        </div>

        <div class="relative">
          <ng-container *ngIf="committees$ | async as committees">
            <ng-container *ngIf="committees.length; else noCommittees">
              <ng-container *ngFor="let committee of committees; let i = index; trackBy: trackByCommitteeCode">
                <div class="
                    z-20
                    text-disabled
                    flex
                    items-center
                    px-6
                    py-4
                    md:px-8
                    cursor-pointer
                    hover:bg-hover
                    border-b
                  " [ngClass]="{
                    'bg-primary-50 dark:bg-hover': selectedCommittee && selectedCommittee.code === committee.code,
                    'text-disabled': committee.is_deleted
                  }" (click)="goToCommittee(committee)">
                  <div class="flex w-full justify-between items-center">
                    <div class="w-5/12 font-medium leading-5 truncate ml-4">
                      {{ committee.name }}
                    </div>
                    <div class="w-3/12 font-medium leading-5 truncate ml-4">
                      <ng-container *ngIf="committee?.directors?.length > 0">
                        {{ committee?.directors?.length }}
                      </ng-container>
                      {{
                      committee?.directors?.length | i18nPlural: {
                      "=0": "No directors",
                      "=1": "director",
                      other: "directors"
                      }
                      }}
                    </div>
                      <div class="w-3/12 font-medium leading-5 truncate ml-4">
                      <ng-container *ngIf="committee?.organization_codes?.length > 0">
                        {{ committee.organization_codes.length }}
                      </ng-container>
                      {{
                      committee?.organization_codes?.length | i18nPlural: {
                      "=0": "No organizations",
                      "=1": "organization",
                      other: "organizations"
                      }
                      }}
                    </div>
                    <div class="md:w-1/12 ml-4 my-auto">
                      <mat-chip [matTooltip]="'Committee Trails'" (click)="goToTrails($event, committee)"
                        class="rounded-md border bg-white border-primary" disableRipple="true">
                        <mat-icon class="icon-size-5 cursor-pointer mt-1 text-primary my-auto"
                          [svgIcon]="'feather:activity'"></mat-icon>
                      </mat-chip>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="flex justify-end">
                <mat-paginator [length]="pageState.totalCount" [pageIndex]="pageState.page - 1"
                  [pageSize]="pageState.pageSize" (page)="onPage($event)"></mat-paginator>
              </div>
            </ng-container>
          </ng-container>

          <ng-template #noCommittees>
            <div class="
                p-8
                sm:p-16
                border-t
                text-4xl
                font-semibold
                text-center
              ">
              There are no committees!
            </div>
          </ng-template>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>