<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-4 ml-4 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="text-4xl font-extrabold tracking-tight">Risk Type Data</div>

        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense mt-6 fuse-mat-no-subscript min-w-50">
                <mat-label>Risk Type</mat-label>
                <mat-select class="mr-1.5" [(ngModel)]="query.riskAreaId">
                    <mat-option *ngFor="let riskArea of riskAreas;" [value]="riskArea.id">
                        {{riskArea.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense mt-6 fuse-mat-no-subscript min-w-50 pl-6">
                <mat-label>Month</mat-label>
                <mat-select class="mr-1.5" [(ngModel)]="query.month">
                    <mat-option *ngFor="let month of months;" [value]="month.id">
                        {{month.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense mt-6 fuse-mat-no-subscript min-w-50 pl-6">
                <mat-label>Year</mat-label>
                <mat-select class="mr-1.5" [(ngModel)]="query.year">
                    <mat-option *ngFor="let year of years;" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button class="ml-4 mt-6" mat-flat-button [color]="'secondary'" (click)="filterButtonPress.next()" *ngIf="!filterEnabled">
                <mat-icon [svgIcon]="'heroicons_outline:funnel'"></mat-icon>
            </button>

            <button class="ml-4 mt-6" mat-flat-button [color]="'warn'" (click)="filterButtonPress.next(0)" *ngIf="filterEnabled">
                <mat-icon [svgIcon]="'heroicons_outline:funnel'"></mat-icon>
            </button>

            <button class="ml-4 mt-6" mat-flat-button [color]="'secondary'" (click)="resetButtonPress.next(0)">
                <mat-icon [svgIcon]="'heroicons_outline:receipt-refund'"></mat-icon>
                <span class="ml-2 mr-1">Reset</span>
            </button>

            <button class="ml-4 mt-6" mat-flat-button [color]="'primary'" (click)="createRiskAreaData()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden ml-4">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container *ngIf="riskAreaDatasCount > 0; else noRiskAreaData">
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>
                    <table
                        class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        mat-table
                        matSort
                        [matSortActive]="'name'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="riskAreaDatas$"
                        [trackBy]="trackByFn">

                        <ng-container matColumnDef="riskAreaName">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Risk Type
                            </th>
                            <td class="pr-4 truncate" mat-cell *matCellDef="let item">
                                {{item.riskAreaName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="period">
                            <th class="w-48 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Period
                            </th>
                            <td class="pr-4 truncate" mat-cell *matCellDef="let item">
                                {{ getDate(item.month, item.year) | date: 'MMMM YYYY'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="weight">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Weight
                            </th>
                            <td class="pr-4 truncate" mat-cell *matCellDef="let item">
                                <span>{{item.weight | percent}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="quantWeight">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Quant. weight
                            </th>
                            <td class="pr-4 truncate" mat-cell *matCellDef="let item">
                                <span>{{item.quantitativeWeight | percent}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="qualWeight">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Qual. weight
                            </th>
                            <td class="pr-4 truncate" mat-cell *matCellDef="let item">
                                <span>{{item.qualitativeWeight | percent}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="quantScore">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Quant. score
                            </th>
                            <td class="pr-4 truncate" mat-cell *matCellDef="let item">
                                <span>{{item.quantitativeScore | percent}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="qualScore">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Qual. score
                            </th>
                            <td class="pr-4 truncate" mat-cell *matCellDef="let item">
                                <span>{{item.qualitativeScore | percent}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="details">
                            <th class="w-24 pr-8 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                                Details
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let item">
                                <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleDetails(item.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="selectedRiskAreaData?.id === item.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="kriDetails">
                            <td class="p-0 border-b-0" mat-cell *matCellDef="let item" [attr.colspan]="columns.length">
                                <div class="shadow-lg overflow-hidden" [@expandCollapse]="selectedRiskAreaData?.id === item.id ? 'expanded' : 'collapsed'">
                                    <div class="flex border-b">
                                        <form class="flex flex-col w-full" [formGroup]="selectedRiskAreaDataForm">

                                            <div class="flex w-full">
                                                <div class="flex flex-auto pl-12 pt-12 pr-12 pb-12">

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Risk Type</mat-label>
                                                        <input matInput [formControlName]="'riskAreaName'">
                                                    </mat-form-field>

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Month</mat-label>
                                                        <mat-select class="mr-1.5" [formControlName]="'month'">
                                                            <mat-option *ngFor="let item of months; trackBy: trackByFn" [value]="item.id">
                                                                {{item.value}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Year</mat-label>
                                                        <mat-select class="mr-1.5" [formControlName]="'year'">
                                                            <mat-option *ngFor="let item of years; trackBy: trackByFn" [value]="item">
                                                                {{item}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Weight</mat-label>
                                                        <input type="number" matInput [formControlName]="'weight'">
                                                    </mat-form-field>

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Quant. weight</mat-label>
                                                        <input type="number" matInput [formControlName]="'quantitativeWeight'">
                                                    </mat-form-field>

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Qualitative weight</mat-label>
                                                        <input type="number" matInput [formControlName]="'qualitativeWeight'">
                                                    </mat-form-field>

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Qualitative Score</mat-label>
                                                        <input type="number" matInput [formControlName]="'qualitativeScore'">
                                                    </mat-form-field>

                                                    <mat-form-field class="pr-6 w-1/6">
                                                        <mat-label>Quantitative score</mat-label>
                                                        <input type="number" matInput [formControlName]="'quantitativeScore'">
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                            <div class="flex w-full">
                                                <div class="flex flex-auto pl-12 pt-3 pr-12 pb-3">
                                                    <quill-editor class="mt-2 w-full pb-12" formControlName="description" [modules]="quillModules"></quill-editor>
                                                </div>
                                            </div>

                                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                                <button class="-ml-4" mat-button [color]="'warn'">
                                                    Delete
                                                </button>
                                                <div class="flex items-center">
                                                    <div class="flex items-center mr-4" *ngIf="flashMessage">
                                                        <ng-container *ngIf="flashMessage === 'success'">
                                                            <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                            <span class="ml-2">Data updated</span>
                                                        </ng-container>
                                                        <ng-container *ngIf="flashMessage === 'error'">
                                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                                                            <span class="ml-2">An error occurred, try again!</span>
                                                        </ng-container>
                                                    </div>
                                                    <button
                                                        mat-flat-button
                                                        [color]="'primary'"
                                                        (click)="updateSelectedRiskAreaData()"
                                                        [disabled]="selectedRiskAreaDataForm.invalid || isPerforming">
                                                        Update
                                                        <img src="/assets/images/loading.gif" style="width: 2em;" *ngIf="isPerforming"/>
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr class="shadow" mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                        <tr class="h-18 hover:bg-hover" mat-row *matRowDef="let product; columns: columns;"></tr>
                        <tr class="h-0" mat-row *matRowDef="let row; columns: ['kriDetails']"></tr>

                    </table>
                </div>

                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="pagination.length"
                    [pageIndex]="pagination.page"
                    [pageSize]="pagination.size"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true">
                </mat-paginator>
            </ng-container>

            <ng-template #noRiskAreaData>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                    There are no data!
                </div>
            </ng-template>

        </div>
    </div>
</div>
