<app-dialog-container (onCloseDialog)="closeDialog()" title="Account Details">
  <form *ngIf="form" [formGroup]="form" (submit)="onSubmit()">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/2 px-2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Bank Name</mat-label>
          <input matInput formControlName="bank_name" placeholder="Bank Name" />
          <mat-error *ngIf="form.get('bank_name')?.hasError('required')">Bank Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-2">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>IBAN</mat-label>
          <input matInput formControlName="iban" placeholder="IBAN" />
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/2 px-2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Account Number</mat-label>
          <input matInput formControlName="account_no" placeholder="Account Number" />
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-2">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>BIC</mat-label>
          <input matInput formControlName="bic" placeholder="BIC" />
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col">
      <mat-label class="font-semibold leading-5 text-base">Bank Address</mat-label>
      <quill-editor
              class="mt-2 flex-auto"
              formControlName="bank_address"
              [modules]="quillModules"></quill-editor>
    </div>
    <div class="flex flex-wrap -mx-2">
      <div class="w-full px-2">
        <mat-error class="text-md font-semibold" *ngIf="form.hasError('atLeastOneRequired') && (this.form.get('account_no').touched || this.form.get('bic').touched)">
          - Either IBAN or Account Number is required
        </mat-error>
      </div>
    </div>
    <div class="flex justify-between mt-4 sm:mt-6">
      <button mat-flat-button (click)="$event.preventDefault(); closeDialog()">Cancel</button>
      <button mat-flat-button color="primary" [disabled]="form.invalid || form.untouched">Save</button>
    </div>
  </form>
</app-dialog-container>
