<app-dialog-container (onCloseDialog)="closeDialog()" title="Add agenda item decision">
  <form *ngIf="form" [formGroup]="form" (submit)="onSubmit()">
    <div class="flex">
      <mat-form-field class="flex-auto">
        <mat-label>Owner</mat-label>
        <input matInput
            [formControlName]="'owner'"
            [placeholder]="'Owner'" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-full">
        <mat-label>Due At</mat-label>
        <input matInput [matDatepicker]="dueAt" [formControlName]="'due_at'" />
        <mat-datepicker-toggle matSuffix [for]="dueAt"></mat-datepicker-toggle>
        <mat-datepicker #dueAt></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="flex flex-col">
      <mat-label class="font-semibold leading-5 text-base">Description</mat-label>
      <quill-editor class="mt-2"
          formControlName="description"
          [modules]="quillModules"></quill-editor>
    </div>

    <ng-container *ngIf="form.enabled">
      <div class="
          flex
          justify-between
          mt-4
          sm:mt-6">
          <button mat-flat-button type="button" (click)="closeDialog()">Cancel</button>
          <button
          mat-flat-button
          [color]="'primary'"
          [disabled]="form.invalid">Save</button>
      </div>
    </ng-container>
  </form>
</app-dialog-container>
