<app-dialog-container (onCloseDialog)="closeDialog()" title="Document Preview">
  <ng-container *ngIf="document">
    <a *ngIf="!isSelected" class="flex items-center text-primary font-semibold" target="_blank"
      [href]="document?.previewUrl" download>
      <span class="mr-2">Download</span>
      <mat-icon class="text-royal-azure cursor-pointer" svgIcon="mat_solid:file_download"></mat-icon>
    </a>
    <div class="text-center">
      <h2 class="text-primary font-semibold mb-4">{{ document?.name | titlecase }}</h2>
      <ng-container *ngIf="document?.previewUrl">
        <img *ngIf="document?.type?.startsWith('image')" [src]="document?.previewUrl" alt="{{ document?.name }}"
          class="h-100 img-thumbnail" />
        <iframe *ngIf="document?.type === 'application/pdf'" [src]="document?.previewUrl" width="100%" height="400px">
          <p>PDF cannot be displayed.</p>
        </iframe>
      </ng-container>
    </div>
  </ng-container>
</app-dialog-container>