<div class="flex flex-col max-w-240 md:min-w-160 -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg text-white">{{title}}</div>
        <button
                mat-icon-button
                [tabIndex]="-1" (click)="closeDialog()">
            <mat-icon
                    class="text-current text-white"
                    [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
        </button>
    </div>

    <form [formGroup]="form"
            class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <mat-form-field class="w-full">
            <mat-label>Risk Type</mat-label>
            <mat-select formControlName="riskAreaId" required>
                <mat-option *ngFor="let item of riskAreas" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('riskAreaId').hasError('required')">Field Required</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="form.get('name').hasError('required')">Field Required</mat-error>
        </mat-form-field>

        <div class="w-full">
            <mat-form-field class="w-1/2 pr-6">
                <mat-label>Frequency</mat-label>
                <mat-select
                        [formControlName]="'frequency'"
                        required>
                    <mat-option [value]="'Monthly'">Monthly</mat-option>
                    <mat-option [value]="'Quarterly'">Quarterly</mat-option>
                    <mat-option [value]="'Bi-Annually'">Bi-Annually</mat-option>
                    <mat-option [value]="'Annually'">Yearly</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('frequency').hasError('required')">Field Required</mat-error>
            </mat-form-field>

            <mat-form-field class="w-1/2 pl-6">
                <mat-label>Nature</mat-label>
                <mat-select
                        [formControlName]="'nature'"
                        required>
                    <mat-option [value]="'N'">Number</mat-option>
                    <mat-option [value]="'P'">Percentage</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('nature').hasError('required')">Field Required</mat-error>
            </mat-form-field>
        </div>

        <!-- Body -->
        <quill-editor
                class="mt-2"
                formControlName="description"
                [modules]="quillModules"></quill-editor>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">

            </div>

            <div class="flex items-center mt-4 sm:mt-0">
                <button
                        class="order-first sm:order-last"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="form.invalid" (click)="save()">
                    Send
                </button>
            </div>
        </div>
    </form>
</div>
