<app-dialog-container (onCloseDialog)="closeDialog()" title="Document">

  <form *ngIf="form" [formGroup]="form" (submit)="onSubmit()">
    <div class="flex flex-wrap -mx-2 mt-1">
      <div class="w-full md:w-1/2 px-2">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Type</mat-label>
          <mat-select [formControlName]="'type'" [placeholder]="'Type'" [spellcheck]="false">
            <mat-option *ngFor="let dType of documentTypes" [value]="dType.value">
              {{ dType.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Nationality</mat-label>
          <mat-select [formControlName]="'nationality'">
            <mat-option *ngFor="let country of countries" [value]="country.iso">
              <span class="flex items-center">
                <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden" [style.background]="
                          'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'
                        " [style.backgroundSize]="'24px 3876px'"
                    [style.backgroundPosition]="country.flagImagePos"></span>
                <span class="sm:mx-0.5 font-medium text-default">
                  {{ country.name }}
                </span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  
    <div class="flex flex-wrap -mx-2 mt-1">
      <div class="w-full md:w-1/2 px-2">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>First Name</mat-label>
          <input matInput [formControlName]="'firstname'" [placeholder]="'First Name'" [spellcheck]="false" />
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Last Name</mat-label>
          <input matInput [formControlName]="'lastname'" [placeholder]="'Last Name'" [spellcheck]="false" />
        </mat-form-field>
      </div>
    </div>
  
    <div class="flex flex-wrap mt-1 -mx-2">
      <div class="w-full md:w-1/2 px-2">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Country of Issuance</mat-label>
          <mat-select [formControlName]="'coi'">
            <mat-option *ngFor="let country of countries" [value]="country.iso">
              <span class="flex items-center">
                <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden" [style.background]="
                          'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'
                        " [style.backgroundSize]="'24px 3876px'"
                    [style.backgroundPosition]="country.flagImagePos"></span>
                <span class="sm:mx-0.5 font-medium text-default">
                  {{ country.name }}
                </span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Document Number</mat-label>
          <input matInput [formControlName]="'num'" [placeholder]="'Document Number'" [spellcheck]="false" />
        </mat-form-field>
      </div>
    </div>
  
    <div class="flex flex-wrap -mx-2 mt-1">
      <div class="w-full md:w-1/2 px-2">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="birthdayDatepicker" [formControlName]="'dob'" [placeholder]="'Birthday'" />
          <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdayDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Issuance Date</mat-label>
          <input matInput [matDatepicker]="doiDatepicker" [formControlName]="'doi'" [placeholder]="'Date of Issuance'" />
          <mat-datepicker-toggle matSuffix [for]="doiDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #doiDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  
    <div class="flex flex-wrap mt-1 -mx-2">
      <div class="w-full md:w-1/2 px-2">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Expiration Date</mat-label>
          <input matInput [matDatepicker]="expDate" [formControlName]="'exp'" [placeholder]="'Expiration Date'" />
          <mat-datepicker-toggle matSuffix [for]="expDate"></mat-datepicker-toggle>
          <mat-datepicker #expDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-2 flex justify-end">
        <mat-form-field class="use-mat-no-subscript w-full">
          <mat-label>Authority</mat-label>
          <input matInput [formControlName]="'authority'" [placeholder]="'Authority'" [spellcheck]="false" />
        </mat-form-field>
      </div>
    </div>
  
    <div class="flex justify-between mt-4 sm:mt-6">
      <button mat-flat-button (click)="$event.preventDefault(); closeDialog()">
        Cancel
      </button>
      <button mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.untouched">
        Save
      </button>
    </div>
  </form>
  
</app-dialog-container>